@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  margin: 0;
    padding: 0;
  background-color: #ebd58f;
   
  scroll-behavior: smooth;
}
h2{
  margin-bottom: 32px;
  font-weight: bold;
}



